name: Docker Image CI

on:
  pull_request:
    branches: master
  push:
    branches: master
    tags: latest

jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:
      # -
      #   name: Prepare
      #   id: prepare
      #   run: |
      #     echo ::set-output name=docker_username::akhilrs
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest
          driver-opts: network=host
      -
        name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}

      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
  
      -
        name: Generate bake file
        run:
          ./generate.sh -p="linux/amd64 linux/arm64 linux/arm/v7"

      -
        name: Build and push
        uses: docker/bake-action@master
        with:
          files: |
            ./docker-bake.hcl
          push: true