name: Docker Image CI

on:
  pull_request:
    branches: master
  push:
    branches: master
    tags: latest

jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:
      -
        name: Prepare
        id: prepare
        run: |
          echo ::set-output name=docker_username::akhilrs
      -
        # https://github.com/docker/setup-qemu-action
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
      # https://github.com/docker/setup-buildx-action
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        # https://github.com/actions/checkout
        name: Checkout
        uses: actions/checkout@v1
      -
        name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}
      -
        name: Run Buildx and Push to Docker Registry
        env:
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          echo "${DOCKER_PASSWORD}" | docker login --username "${{ steps.prepare.outputs.docker_username }}" --password-stdin
          ./publish.sh